* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;

}


.nav-container {
    background:#535353;
    padding: 10px 0; 
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
   
    
}


.nav-title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #535353;
    padding: 12px 20px;
    border-radius: 5px;
   
   
}


.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    opacity: 0.8;
}

.nav-links a.active {
    font-weight: bold;
    opacity: 1;
}

/* Square Sign Out Button */
.btn {
    background: #00AEEF;
    color: white;
    border: solid 2px black;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
   width: 100px;
   height: 40px;
    font-weight: bold;
    box-shadow: 1px 2px #000000;

}

.btn:hover {
    background: #008CBA;
}
